.loading {
    outline: 1px solid red;
    outline-offset: 0.3em;
}

.grow {
    flex: 1;
}

.clickable {
    --color: var(--theme-text);
    --used-color: var(--color);
    border: var(--border-width) solid var(--used-color);
    border-radius: var(--border-radius);

    text-decoration: none;
    cursor: pointer;

    transition: all 100ms ease;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0;
    white-space: nowrap;

    font-weight: bold;
    font-size: 0.8rem;

    display: inline-flex;
    align-items: center;
    gap: 0.5em;

    :global(> svg) {
        width: 1.5em;
        height: 1.5em;
    }

    // Variant
    &[data-variant="primary"] {
        background-color: var(--used-color);
        color: var(--theme-secondary);
    }

    &[data-variant="secondary"] {
        background-color: transparent;
        color: var(--used-color);
    }

    &:hover:not(:disabled) {
        --used-color: color-mix(in oklab, var(--color) 50%, var(--theme-text));
    }

    &[data-icon="true"] {
        border-radius: 100vw;
        padding: 0.8rem;
    }

    &:focus-visible {
        outline: 2px solid var(--used-color);
        outline-offset: 0.3em;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }
}
